In [9]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from plotly.offline import init_notebook_mode, plot, iplot
import plotly.graph_objs as go
init_notebook_mode(connected=True)
%matplotlib inline

In [7]:
data = pd.read_csv("data/zomato.csv", encoding = "ISO-8859-1")
data.sample(5)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
7431,18157416,Masala House,1,New Delhi,"4, Sunder Nagar, New Delhi Delhi NCR, Sunder N...",Sunder Nagar,"Sunder Nagar, New Delhi",77.241099,28.602641,North Indian,...,Indian Rupees(Rs.),Yes,Yes,No,No,3,4.0,Green,Very Good,169
6882,311821,The Twisted Bakery,1,New Delhi,"J-107, Western Avenue, Sainik Farms, New Delhi",Sainik Farms,"Sainik Farms, New Delhi",0.000000,0.000000,"Bakery, Desserts",...,Indian Rupees(Rs.),No,No,No,No,1,0.0,White,Not rated,0
1483,8931,Go Kylin,1,Gurgaon,"Golf Course Road, Gurgaon",Golf Course Road,"Golf Course Road, Gurgaon",77.098654,28.438231,"Japanese, Chinese, Asian, Malaysian, Thai, Vie...",...,Indian Rupees(Rs.),No,Yes,No,No,3,3.5,Yellow,Good,81
7578,309695,Roti N Boti,1,New Delhi,"15/16, Mangal Bazar, Tilak Nagar, New Delhi",Tilak Nagar,"Tilak Nagar, New Delhi",77.092548,28.640949,"North Indian, Fast Food, Mughlai",...,Indian Rupees(Rs.),No,Yes,No,No,1,3.5,Yellow,Good,21
4331,18241514,Moti Mahal Delux,1,New Delhi,"33-34, Ground Floor, TDI Centre, Jasola, New D...",Jasola,"Jasola, New Delhi",77.287557,28.537363,"North Indian, Mughlai",...,Indian Rupees(Rs.),Yes,Yes,No,No,2,2.8,Orange,Average,26